.profile__vector-add-button{
  all: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../../../images/VectorAddbutton.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
}

.profile__vector-add-button:hover{
  opacity: 0.6;
}

@media screen and (min-width: 1280px){
  .profile__vector-add-button{
    width: 22px;
    height: 22px;
  }
}
